///Import fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');



$color-won: #78CF82;
$color-lost: #D94545;
$color-start: #292a2b;
$color-neutral: #445069;
$color-neutral-light: #D2D2D2;
$color-keys: #37474F;
$color-keys-light: #E5E5E5;
$font-size-large: 60px;
$font-size-medium: 25px;
$transition: all 1s ease-in-out;
